.header-container {
  background-image: url("../../assets/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
}
@media (max-width: 768px) {
  .header-container {
    height: 500px;
  }
}
