.chip-container {
  display: flex;
  margin-top: 20px;
  .MuiChip-root {
    background: linear-gradient(
      91.47deg,
      rgba(218, 69, 143, 0.4) -6%,
      rgba(218, 52, 221, 0.4) 113.05%
    );
    border-radius: 5px;
  }
}
